.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.bg-nav{
    background: rgb(red, green, blue);
    background: linear-gradient(40deg, rgba(6, 60, 121, 0.89) 40%, rgba(6, 124, 170, 0.74) 50%);
}

