.caixa{
    background: rgb(153,27,27);
background: linear-gradient(90deg, rgba(153, 27, 27, 0.808) 35%, rgba(40, 181, 148, 0.651) 65%);

}

.posts{
    background: rgb(153,27,27);
    background: linear-gradient(90deg, rgba(153, 27, 27, 0.308) 35%, rgba(40, 181, 148, 0.651) 76%)
}