.textos1 {
    font-weight: 'bold' !important;

}

.textos2{
    text-decoration: none;
    
}

.imagem {
    background-image: url(https://cdn.pixabay.com/photo/2015/10/02/15/00/diary-968592_960_720.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-login{
    background: rgb(red, green, blue);
    background: linear-gradient(40deg, rgb(50, 52, 165) 20%, rgba(101, 193, 244, 1) 40%);
}

.login-esquerda{
    width: 60vw;
    min-height: 50vh;
    width: 60vh;
    border-radius: 100px;
    background: radial-gradient(circle, rgba(101, 193, 244, 1) 40%);
}

.botao{
    border-radius:30px;
    background-color: #000000 !important;
    color: #ffffff !important;
}



