.box1{
     background: rgb(37, 36, 34);
background: linear-gradient(80deg, rgba(37, 36, 34, 0.7679446778711485) 0%, rgba(16,26,32,0.87718837535014) 78%);
}

.box2{
     background: linear-gradient(80deg, rgba(37, 36, 34, 0.7679446778711485) 0%, rgba(16,26,32,0.87718837535014)
      100%);;
      font-size: 90px;
}


.redes{
    font-size: 60px;
     color: rgb(255, 255, 255);
}
.textos{
     color: white;
}


