.box1{
     background: rgb(red, green, blue);
     background: linear-gradient(80deg, rgba(102, 4, 4, 0.884) 35%, rgba(29, 123, 185, 0.87) 90%);
     
}

.box2{
     background: rgb(red, green, blue);
     background: linear-gradient(80deg, rgba(102, 4, 4, 0.884) 35%, rgba(29, 123, 185, 0.87) 90%);
      font-size: 90px;
}


.redes{
    font-size: 60px;
     color: rgb(255, 255, 255);
}
.textos{
     color: white;
}


