.box1{
     background: rgb(7, 5, 0);
background: linear-gradient(80deg, rgba(14, 10, 3, 0.768) 0%, rgba(16,26,32,0.87718837535014) 78%);
}

.box2{
     background: rgb(7, 5, 0);
     background: linear-gradient(80deg, rgba(14, 10, 3, 0.768) 0%, rgba(16,26,32,0.87718837535014) 100%);
      font-size: 90px;
}


.redes{
    font-size: 60px;
     color: rgb(255, 255, 255);
}
.textos{
     color: white;
}


