.caixa{
  background: rgb(red, green, blue);
  background: radial-gradient(circle, rgba(107,105,101,1) 0%, rgba(59,55,55,1) 100%);
}


.titulo{
  color: white !important;
  font-weight: "bold" !important;
}

.botao{

 border-color: white !important;
 background-color: black;
  color: white !important;
}

.postagens{
  background: rgb(37, 36, 34);
  background: linear-gradient(80deg, rgba(37, 36, 34, 0.7679446778711485) 0%, rgba(16,26,32,0.87718837535014) 100%);

}

.text-decorator-none{
  text-decoration: none;
}