.container{
  background: rgb(red, green, blue);
  background: linear-gradient(40deg, rgba(6, 60, 121, 0.89) 60%, rgba(6, 124, 170, 0.74) 80%);
}


.titulo1{
  color: white !important;
  font-weight: "bold" !important;
}

.botao{

 border-color: white !important;
 background-color: black;
  color: white !important;
}

.postagens{
  background: #05021863;
  background: linear-gradient(80deg, rgba(187, 11, 11, 0.836) 0%, rgba(53, 29, 185, 0.877) 100%);

}

.text-decorator-none{
  text-decoration: none;
}